body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f4f4f4;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

video {
  display: none; /* Initially hidden */
  max-width: 100%;
  margin-top: 10px;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
